.bio-title {
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bio-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.greetings, .greetings strong {
    font-size: 1.5rem;
    margin: 16px 0;
    background: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
}

.bio-intro {
    font-size: 1.05rem;
    text-align: justify;
    padding: 0 30px 20px;
    border-radius: 10px;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
