ul {
    list-style-type: none;
}

.contact-title {
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.contact-mail, .contact-phone, .contact-address {
    margin: 30px;
    cursor: text;
    display: flex;
    gap: 10px;
    font-size: 1.05rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.5);
    padding: 15px 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.contact-mail svg {
    stroke: #ffff80;
    background: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
}

.contact-phone svg {
    stroke: #008080;
    background: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
}

.contact-address svg {
    stroke: #ff1c1c;
    background: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
}