* {
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

li {
    display: block;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 16px;
    width: 150px;
}

/* Menu button */
.menu-btn {
    background-color: #333333;
    border: 2px solid #333333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
}

.menu-btn svg {
    background-color: #333333;
}

/* Submenu */
.submenu {
    position: absolute;
    top: 60px;
    left: 25px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
    padding: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
}

.submenu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Hover */
.bio:hover {
    font-weight: bold;
    color: #1c1c1c;
    background-color: #f5f5f5;
    border-radius: 10px;
    transition: background-color 0.1s ease;
}

.education:hover {
    font-weight: bold;
    color: #1c1c1c;
    background-color: #f5f5f5;
    border-radius: 10px;
    transition: background-color 0.1s ease;
}

.skills:hover {
    font-weight: bold;
    color: #1c1c1c;
    background-color: #f5f5f5;
    border-radius: 10px;
    transition: background-color 0.1s ease;
}

.project:hover {
    font-weight: bold;
    color: #1c1c1c;
    background-color: #f5f5f5;
    border-radius: 10px;
    transition: background-color 0.1s ease;
}

.contact:hover {
    font-weight: bold;
    color: #1c1c1c;
    background-color: #f5f5f5;
    border-radius: 10px;
    transition: background-color 0.1s ease;
}
